body {
  margin: 0;
  background-color: aquamarine;
}

h1 {
  text-align: center;
  padding: 20px;
  color: red;
}

p {
  text-align: center;
  font-size: 24px;
}

.croissant-photo {
  max-width: 60%;
}

.navigation-links {
  display: flex;
  justify-content: space-evenly;
}

img {
  display: block;
  margin: 0 auto;
}